lxml_html_clean==0.4.1
flatbuffers==24.3.25
rich-toolkit==0.12.0
shellingham==1.5.4
cron-descriptor==1.4.5
arrow==1.3.0
soundfile==0.12.1
async-lru==2.0.4
opencv-python==4.10.0.84
langchain-chroma==0.1.4
rapidocr-onnxruntime==1.3.24
black==24.8.0
nbclient==0.10.0
langchain-anthropic==0.3.3
coloredlogs==15.0.1
redis==5.2.1
rich-argparse==1.6.0
uri-template==1.3.0
ftfy==6.2.3
humanfriendly==10.0
keras==3.9.0
validators==0.33.0
rfc3339-validator==0.1.4
executing==2.1.0
hyperframe==6.0.1
langchain-qdrant==0.2.0
pexpect==4.9.0
onnxruntime==1.16.0
aiocache==0.12.3
text-unidecode==1.3
pandas==2.2.3
opentelemetry-exporter-otlp-proto-grpc==1.30.0
tornado==6.4.1
langchain==0.3.14
apache-airflow-providers-imap==3.7.0
matplotlib==3.9.2
grpcio==1.67.1
google-api-core==2.22.0
nbconvert==7.16.4
interegular==0.3.3
fqdn==1.5.1
llvmlite==0.44.0
PyJWT==2.9.0
decorator==5.1.1
astor==0.8.1
async-timeout==5.0.1
pypdf==4.3.1
filelock==3.16.1
idna==3.10
optree==0.14.1
queuelib==1.7.0
h2==4.1.0
ordered-set==4.1.0
langsmith==0.1.142
peewee==3.17.6
traitlets==5.14.3
effdet==0.4.1
jiter==0.7.0
lm-format-enforcer==0.10.9
tensorflow-io-gcs-filesystem==0.37.1
google-cloud-vision==3.8.0
fonttools==4.54.1
pydub==0.25.1
nest-asyncio==1.6.0
pyasn1_modules==0.4.1
Markdown==3.7
ujson==5.10.0
pycocotools==2.0.8
smmap==5.0.1
tqdm==4.67.0
pyvis==0.3.2
rank-bm25==0.2.2
diskcache==5.6.3
multidict==6.1.0
ptyprocess==0.7.0
langchain-community==0.3.7
aiosignal==1.3.1
olefile==0.47
isoduration==20.11.0
apache-airflow-providers-common-io==1.4.2
nltk==3.9.1
zope.interface==7.2
docx2txt==0.8
Flask-Caching==2.3.0
lxml==5.3.0
pyOpenSSL==24.3.0
gensim==4.3.3
scipy==1.13.1
importlib_resources==6.4.5
SQLAlchemy==2.0.32
simple-websocket==1.1.0
GitPython==3.1.43
fake-useragent==1.5.1
colbert-ai==0.2.21
ollama==0.4.7
Protego==0.3.1
urllib3==2.2.3
ecdsa==0.19.0
overrides==7.7.0
airportsdata==20241001
parso==0.8.4
psycopg2-binary==2.9.9
webencodings==0.5.1
colorama==0.4.6
marshmallow-sqlalchemy==0.28.2
tinycss2==1.4.0
zipp==3.21.0
typer==0.15.1
lark==1.1.9
openai==1.63.0
langchain-google-genai==2.0.8
qdrant-client==1.12.1
astunparse==1.6.3
propcache==0.2.0
pettingzoo==1.24.3
parsel==1.9.1
sentry-sdk==2.28.0
python-docx==1.1.2
python-json-logger==2.0.7
msgpack==1.1.0
PyAudio==0.2.14
opt_einsum==3.4.0
outlines==0.1.11
whisper-live==0.6.2
defusedxml==0.7.1
referencing==0.35.1
opentelemetry-proto==1.30.0
python-magic==0.4.27
opentelemetry-semantic-conventions-ai==0.4.2
python-oxmsg==0.0.1
google-pasta==0.2.0
requests==2.32.3
frozenlist==1.5.0
json5==0.9.28
universal_pathlib==0.2.5
openpyxl==3.1.5
pip==24.0
Jinja2==3.1.4
dnspython==2.7.0
httpx-sse==0.4.0
opentelemetry-api==1.30.0
cryptography==43.0.3
pydantic==2.10.6
shapely==2.0.6
google-ai-generativelanguage==0.6.15
inflection==0.5.1
locket==1.0.0
gitdb==4.0.11
fsspec==2024.9.0
blinker==1.9.0
google-generativeai==0.8.4
soupsieve==2.6
Flask-JWT-Extended==4.7.1
ninja==1.11.1.3
dateparser==1.2.1
kaldialign==0.9.1
markdown-it-py==3.0.0
torchvision==0.20.1
arff==0.9
pytest==8.3.4
httpx==0.27.2
safetensors==0.4.5
six==1.16.0
clickclick==20.10.2
seaborn==0.13.2
mypy-extensions==1.0.0
Farama-Notifications==0.0.4
h11==0.14.0
plotly==5.24.1
networkx==3.4.2
yarl==1.17.1
colorlog==6.9.0
tldextract==5.1.3
partial-json-parser==0.2.1.1.post4
emoji==2.14.0
joblib==1.4.2
hyperlink==21.0.0
et_xmlfile==2.0.0
typing-inspect==0.9.0
git-python==1.0.3
pcodedmp==1.2.6
croniter==5.0.1
colorclass==2.2.2
apache-airflow-providers-sqlite==3.9.1
itsdangerous==2.2.0
huggingface-hub==0.26.2
google-api-python-client==2.152.0
pymdown-extensions==10.11.2
time-machine==2.16.0
gast==0.6.0
prometheus_client==0.21.0
markdownify==0.14.1
botocore==1.36.21
RapidFuzz==3.10.1
itemadapter==0.10.0
jupyter_server==2.14.2
SQLAlchemy-JSONField==1.0.2
jupyter_client==8.6.3
opentelemetry-instrumentation-requests==0.51b0
iniconfig==2.0.0
rich==13.9.4
tokenizers==0.20.3
uritemplate==4.1.1
google-auth==2.36.0
google-auth-httplib2==0.2.0
future==1.0.0
pandocfilters==1.5.1
hpack==4.0.0
limits==3.13.0
protobuf==5.29.3
opentelemetry-instrumentation-urllib3==0.51b0
nvidia-ml-py==12.560.30
chroma-hnswlib==0.7.6
jupyter-events==0.10.0
compressed-tensors==0.8.1
jsonpatch==1.33
argparse==1.4.0
iopath==0.1.10
jsonpointer==3.0.0
langchain-openai==0.3.1
pyzmq==26.2.0
appnope==0.1.4
Twisted==24.11.0
outlines_core==0.1.26
numpy==1.26.4
msoffcrypto-tool==5.4.2
marshmallow-oneofschema==3.1.1
langchain-core==0.3.35
mistune==3.0.2
attrs==24.2.0
requests-file==2.1.0
trafilatura==2.0.0
apache-airflow-providers-common-sql==1.20.0
prison==0.2.1
python-slugify==8.0.4
packaging==23.2
mdit-py-plugins==0.4.2
kubernetes==31.0.0
orjson==3.10.11
lazy-object-proxy==1.10.0
peewee-migrate==1.12.2
certifi==2024.8.30
connexion==2.14.2
python-iso639==2024.10.22
htmldate==1.9.3
uc-micro-py==1.0.3
ConfigUpdater==3.2
tenacity==9.0.0
pvporcupine==3.0.5
cffi==1.17.1
RTFDE==0.1.2
jsonschema==4.23.0
opentelemetry-sdk==1.30.0
pdfminer.six==20231228
nbformat==5.10.4
absl-py==2.2.0
grpcio-status==1.62.3
primp==0.9.1
pyasn1==0.6.1
stack-data==0.6.3
argon2-cffi==23.1.0
tensorboard==2.19.0
eval_type_backport==0.2.0
asttokens==2.4.1
cachetools==5.5.0
portalocker==2.10.1
youtube-transcript-api==0.6.3
fpdf2==2.7.9
asgiref==3.8.1
threadpoolctl==3.5.0
pypdfium2==4.30.0
Events==0.5
dataclasses-json==0.6.7
pathspec==0.12.1
oauthlib==3.2.2
grpcio-tools==1.62.3
jusText==3.0.1
XlsxWriter==3.2.0
jupyterlab==4.3.0
multiprocess==0.70.16
sentence-transformers==3.3.1
torchaudio==2.5.1
Automat==24.8.1
constantly==23.10.4
Werkzeug==3.1.3
apache-airflow-providers-smtp==1.8.1
langdetect==1.0.9
unstructured-client==0.27.0
service-identity==24.2.0
kiwisolver==1.4.7
red-black-tree-mod==1.20
fireworks-ai==0.15.12
accelerate==1.2.1
passlib==1.7.4
jedi==0.19.1
aiofiles==24.1.0
swifter==1.4.0
pgvector==0.3.5
jupyter_core==5.7.2
chromadb==0.5.15
python-dotenv==1.0.1
xxhash==3.5.0
aiohappyeyeballs==2.4.3
cloudpickle==3.1.0
lockfile==0.12.2
pyparsing==3.2.0
jmespath==1.0.1
contourpy==1.3.0
regex==2024.11.6
bidict==0.23.1
googleapis-common-protos==1.63.2
easygui==0.98.3
cachelib==0.9.0
Send2Trash==1.8.3
langchain-text-splitters==0.3.6
uvicorn==0.30.6
opentelemetry-exporter-otlp==1.28.2
python-jose==3.3.0
jupyter-lsp==2.2.5
debugpy==1.8.7
bcrypt==4.2.0
opentelemetry-instrumentation-sqlalchemy==0.51b0
pydantic-settings==2.7.0
sniffio==1.3.1
transformers==4.46.2
Flask-Cors==5.0.0
Flask-Session==0.5.0
opentelemetry-util-http==0.51b0
pdflatex==0.1.3
jsonschema-specifications==2024.10.1
html2text==2024.2.26
ebcdic==1.1.1
sqlparse==0.5.2
fastapi-cli==0.0.7
mdurl==0.1.2
openai-whisper==20240930
einops==0.8.0
more-itertools==10.5.0
smart-open==7.0.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
MainContentExtractor==0.0.4
jupyterlab_pygments==0.3.0
thrift==0.21.0
Flask-Limiter==3.9.2
build==1.2.2.post1
torch==2.5.1
browser-use==0.1.37
optuna==4.1.0
pytz==2024.2
gunicorn==23.0.0
rpds-py==0.20.1
langchain-fireworks==0.2.7
cssselect==1.2.0
pikepdf==9.4.0
google-re2==1.1.20240702
rsa==4.9
lmnr==0.4.60
fastjsonschema==2.20.0
wcwidth==0.2.13
langchain-ollama==0.2.2
scrapyd==1.5.0
msgspec==0.18.6
langfuse==2.44.0
termcolor==2.5.0
PyDispatcher==2.0.7
vllm==0.6.5
tzlocal==5.2
antlr4-python3-runtime==4.9.3
chardet==5.2.0
python-multipart==0.0.18
html5lib==1.1
layoutparser==0.3.4
pyarrow==18.1.0
partd==1.4.2
mistral_common==1.5.1
babel==2.16.0
toolz==1.0.0
onnx==1.17.0
av==12.3.0
open-webui==0.4.8
importlib_metadata==8.4.0
incremental==24.7.2
libclang==18.1.1
apache-airflow==2.10.3
jupyterlab_server==2.27.3
dask-expr==1.1.21
pydantic_core==2.27.2
ipython==8.29.0
opentelemetry-exporter-otlp-proto-common==1.30.0
oletools==0.60.2
webcolors==24.11.1
PyHive==0.7.0
compressed_rtf==1.0.6
opencv-python-headless==4.10.0.84
dask==2024.12.1
pyee==12.1.1
starlette==0.37.2
prompt_toolkit==3.0.48
xlrd==2.0.1
tensorflow==2.19.0
pycparser==2.22
w3lib==2.2.1
cycler==0.12.1
websockets==14.1
python-engineio==4.11.1
apache-airflow-providers-common-compat==1.2.2
wheel==0.45.1
apache-airflow-providers-cncf-kubernetes==10.0.1
ctranslate2==4.5.0
PyMySQL==1.1.1
pluggy==1.5.0
Flask-WTF==1.2.2
anthropic==0.42.0
dill==0.3.8
comm==0.2.2
watchfiles==1.0.3
fastapi==0.111.0
tiktoken==0.7.0
imbalanced-learn==0.13.0
Flask==3.0.3
pygame==2.6.1
Mako==1.3.6
opentelemetry-instrumentation-fastapi==0.48b0
pure-sasl==0.6.2
tld==0.13
pyxlsb==1.0.10
APScheduler==3.10.4
depyf==0.18.0
opentelemetry-instrumentation==0.51b0
linkify-it-py==2.0.3
pure_eval==0.2.3
pdfplumber==0.11.4
namex==0.0.8
alembic==1.14.0
itemloaders==1.3.2
distro==1.9.0
types-python-dateutil==2.9.0.20241003
trl==0.13.0
milvus-lite==2.4.10
h5py==3.13.0
apache-airflow-providers-ftp==3.11.1
playwright==1.50.0
jsonpath-python==1.0.6
psutil==6.1.0
unstructured==0.15.9
pillow==10.4.0
docker-pycreds==0.4.0
python-pptx==1.0.0
rfc3986-validator==0.1.1
opentelemetry-semantic-conventions==0.51b0
blake3==1.0.0
terminado==0.18.1
opentelemetry-instrumentation-langchain==0.38.5
pymongo==4.10.1
requests-toolbelt==1.0.0
docker==7.1.0
httptools==0.6.4
opentelemetry-exporter-otlp-proto-http==1.30.0
sympy==1.13.1
proto-plus==1.25.0
argon2-cffi-bindings==21.2.0
boto3==1.36.21
py-cpuinfo==9.0.0
numba==0.61.0
typing_extensions==4.12.2
pendulum==3.0.0
unstructured.pytesseract==0.3.13
opensearch-py==2.7.1
pypandoc==1.13
PyYAML==6.0.2
Flask-SQLAlchemy==2.5.1
setuptools==75.8.0
pymilvus==2.5.0
matplotlib-inline==0.1.7
SQLAlchemy-Utils==0.41.2
sentencepiece==0.2.0
pi_heif==0.20.0
email_validator==2.2.0
monotonic==1.6
Scrapy==2.12.0
pycountry==24.6.1
Flask-Babel==2.0.0
extract-msg==0.52.0
charset-normalizer==3.4.0
kaggle==1.6.17
timm==1.0.11
pymupdf4llm==0.0.17
Flask-AppBuilder==4.5.2
ray==2.40.0
backoff==2.2.1
tensorboard-data-server==0.7.2
pytube==15.0.0
pdf2image==1.17.0
Deprecated==1.2.14
Authlib==1.3.2
prometheus-fastapi-instrumentator==7.0.0
filetype==1.2.0
opentelemetry-instrumentation-asgi==0.48b0
marshmallow==3.23.1
gguf==0.10.0
wandb==0.19.11
methodtools==0.4.7
tzdata==2024.2
jupyter_server_terminals==0.5.3
WTForms==3.2.1
bleach==6.2.0
pyproject_hooks==1.2.0
faster-whisper==1.1.0
ml_dtypes==0.5.1
pyclipper==1.3.0.post6
langchain-aws==0.2.12
gymnasium==1.0.0
opentelemetry-instrumentation-threading==0.51b0
beautifulsoup4==4.12.3
uvloop==0.21.0
jsonpickle==3.4.2
platformdirs==4.3.6
ipykernel==6.29.5
duckduckgo_search==6.3.7
PyMuPDF==1.24.13
s3transfer==0.11.2
python-nvd3==0.16.0
posthog==3.7.4
thrift-sasl==0.4.3
setproctitle==1.3.4
annotated-types==0.7.0
apispec==6.7.1
apache-airflow-providers-fab==1.5.1
httplib2==0.22.0
aiohttp==3.11.8
courlan==1.3.2
wsproto==1.2.0
scikit-learn==1.5.2
kubernetes_asyncio==30.3.1
mmh3==5.0.1
anyio==4.6.2.post1
datasets==3.2.0
ldap3==2.9.1
python-daemon==3.1.0
omegaconf==2.3.0
PyPika==0.48.9
httpx-ws==0.7.1
unstructured-inference==0.8.1
httpcore==1.0.6
Pygments==2.18.0
requests-oauthlib==2.0.0
greenlet==3.1.1
sklearn-compat==0.1.3
durationpy==0.9
rdkit==2025.3.1
bitarray==3.0.0
click==8.1.7
python-socketio==5.11.3
tabulate==0.9.0
notebook_shim==0.2.4
apache-airflow-providers-http==4.13.3
Flask-Login==0.6.3
wirerope==0.4.8
wrapt==1.16.0
pytest-docker==3.1.1
websocket-client==1.8.0
argcomplete==3.5.1
MarkupSafe==3.0.2
